html, body {
    margin:0;
    padding:0;
}

#content-wrapper {
    color: #1f2937;
}

#header {
    display: flex;
    flex: content;
    background-color: #1f2937;
    justify-content: left ;
    height: 100px;
}

.header-logo {
    display: flex;
    font-size: 24px;
    font-family: "roboto", sans-serif;
    color: #F9FAF8;
    flex: 1 1 auto;
    justify-content: start;
    height: 70px;
    margin-left: 170px;
}

.header-items {
    display: flex;
    font-size: 18px;
    font-family: "roboto", sans-serif;
    color: #E5E7EB;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 150px;
    height: 70px;
    margin-top: 25px;
}

#upper-main {
    display: flex;
    background-color: #1f2937;
    height: 600px;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

.upper-words {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-cat {
    height: 400px;
    width: auto;
}

.upper-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-family: "roboto", sans-serif;
    font-weight: 1000;
}

.upper-lesser-text {
    color: #E5E7EB;
    font-size: 18px;
    font-family: "roboto", sans-serif;
}

.upper-button {
    color: #E5E7EB;
    width: 200px;
    height: 40px;
    font-weight: 800;
    font-family: "roboto", sans-serif;
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 5px;
    border-style: solid;
}

#upper-middle {
    height: 400px;
    background-color: green;

}

.upper-middle-title {
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 800;
    font-family: "roboto", sans-serif;
    color: #1F2937;
}

.upper-middle-images {
    display: flex;
    background-color: white;
    color: #1F2937;
    height: 300px;
    justify-content: center;
    gap: 75px;
}

.image-and-quote {
    display: flex;
    flex-direction: column;
    width: 210px;
    height: auto;
    margin-top: 35px;
}

.middle-image {
    height: 150px;
    width: 200px;
    border: 5px #3882F6 solid;
    border-radius: 10px;
}

#lower-middle {
    background-color: #E5E7EB;
    display: flex;
    height: 400px;
    width: auto;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
}

.main-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {
    font-family: "roboto", sans-serif;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 800px;
}

.quote-cite {
    align-self: flex-end;
    color: #1F2937;
    font-weight: 800;
    font-family: "roboto", sans-serif;
}

#lower-main {
    display: flex;
    height: 300px;
    width: auto;
    justify-content: center;
    align-items: center;
}

.cta-box {
    display: flex;
    flex-direction: row;
    background-color: #3882F6 ;
    border-radius: 15px;
    height: 150px;
    width: 1100px;
    justify-content: space-around;
    align-items: center;
}

.cta-text {
    color: #E5E7EB;
}

.cta {
    font-family: "roboto", sans-serif;
    font-size: 25px;
    font-weight: 800;
}

.cta-signup {
    font-family: "roboto", sans-serif;
    font-weight: 1000;
    background-color: #3882F6;
    color: #E5E7EB;
    border-color: #E5E7EB;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    border-style: solid;
}

#footer {
    display: flex;
    height: 100px;
    width: auto;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-family: "roboto", sans-serif;
    color: #E5E7EB;
}

.git-link {
    color: #E5E7EB;
}